:root {
  --display-background-color: #292929;
  --calculator-background-color: #a0a0a0;

  --default-spacing: 1rem;
  --small-spacing: 0.5rem;

  --main-border-radius: 0.5rem;
  --secondary-border-radius: 0.25rem;
}
